{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body p-4">

                <h3 class="text-center mb-4">Create Account</h3>

                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text"
                               name="username"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <div class="input-group">
                           <input type="password"
                                  name="password"
                                  id="registerPassword"
                                  class="form-control"
                                  required>

                            <button type="button"
                                    class="btn btn-outline-secondary"
                                    onclick="toggleRegisterPassword()">
                               <i class="bi bi-eye" id="registerToggleIcon"></i>
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Register
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>
<script>
function toggleRegisterPassword() {
    const input = document.getElementById("registerPassword");
    const icon = document.getElementById("registerToggleIcon");

    if (input.type === "password") {
        input.type = "text";
        icon.classList.replace("bi-eye", "bi-eye-slash");
    } else {
        input.type = "password";
        icon.classList.replace("bi-eye-slash", "bi-eye");
    }
}
</script>

{% endblock %}
